---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% for post in site.publications reversed %}
  <div class="publication-item">
    
    {% if post.image %}
      <div class="publication-image">
        <img src="{{ post.image | relative_url }}" alt="{{ post.title }}">
      </div>
    {% endif %}

    <div class="publication-content">
      <h3 class="publication-title">
        {{ post.title }}
      </h3>

      {% if post.authors %}
        <p class="publication-authors">
          {{ post.authors }}
        </p>
      {% endif %}

      {% if post.venue %}
        <p class="publication-venue">
          <em>{{ post.venue }}</em>
        </p>
      {% endif %}

      <p class="publication-links">
        {% if post.paperurl %}
          <a href="{{ post.paperurl }}">PDF</a>
        {% endif %}

        {% if post.code %}
          {% if post.paperurl %} / {% endif %}
          <a href="{{ post.code }}">Code</a>
        {% endif %}

        {% if post.slides %}
          {% if post.paperurl or post.code %} / {% endif %}
          <a href="{{ post.slides }}">Slides</a>
        {% endif %}
      </p>
    </div>

  </div>
{% endfor %}



